$color-black: #000000;
$color-dusty-gray: #999999;
$color-white: #ffffff;
$color-bondi-blue: #0199ae;
$color-bondi-blue-2: #0097a9;
$color-blue-chill: #068292;
$color-java: #1ab9ce;
$color-jaffaa: #f68038;
