.bottom-header {
  min-height: 63px;
  // .bottom-header__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .bottom-header__column
  &__column {
    flex-basis: calc(50% - 95px);
  }
}

@media (max-width: 992px) {
  .bottom-header {
    background-color: $color-white;
  }
}
